@media screen and (max-width: 852px) {
    main {
        margin: 0;
    }

    /*On affiche la navigation en carré ------------------------------------------------------------------------------*/
    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 7%;
    }
    /*Logo en haut à gauche-------------------------------------------------------------------------------------------*/
    nav img {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 10%;
        width: 50%;
    }

    /*On met la bordure des liens en bas------------------------------------------------------------------------------*/
    nav a:not(:last-of-type) {
        border-top: none;
        border-bottom: solid 4px var(--color-grey);
    }

    /*"Hébergement" bas gauche----------------------------------------------------------------------------------------*/
    nav a:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    /*"Activités" bas droite------------------------------------------------------------------------------------------*/
    nav a:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /*"S'inscrire" haut droite----------------------------------------------------------------------------------------*/
    nav a:last-of-type {
        margin-left: 40%;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    /*Ajout d'une marge-----------------------------------------------------------------------------------------------*/
    main header {
        margin: 0 6% 0 6%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    main header h3 {
        font-size: larger;
        font-weight: bold;
        width: 88%;
        margin-bottom: 3%;
    }
    main header p{
        font-size: smaller;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #recherche {
        font-size: large;
        margin-top: 5%;
        width: 95%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #recherche i {
        flex-grow: unset;
        border-radius: 20px 0 0 20px;
        padding: 6%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #recherche input {
        font-size: large;
        width: inherit;
        flex-grow: 1;
        border-width: 3px;
        padding: 4%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #recherche button:first-of-type {
        display: none;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #recherche button:last-of-type {
        display: block;
        flex-grow: unset;
        border-radius: 20px;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #recherche button:last-of-type i {
        background-color: var(--color-blue);
        border-radius: 40px;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #filtre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 45px repeat(3, 1fr);
        row-gap: 10px;
        margin-bottom: 5%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #filtre h4 {
        grid-column: 1/3;
        grid-row: 1/2;
        font-size: large;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #filtre label {
        width: fit-content;
        border-radius: 50px;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #filtre input:first-of-type, #filtre label:first-of-type {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #filtre input:nth-of-type(2), #filtre label:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #filtre input:nth-of-type(3), #filtre label:nth-of-type(3) {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #filtre input:nth-of-type(4), #filtre label:nth-of-type(4) {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    .checkbox {
        font-size: 0.9em;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    .icon {
        padding: 15px;
        border-radius: 80px;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    .fa-child {
        padding: 15px 17px 15px 17px;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #info {
        font-size: x-large;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #info + p {
        width: 75%;
        display: inline-flex;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #articles {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        row-gap: 1%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #backpop {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 0;
        border-radius: unset;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #backpop h3 {
        margin-right: 25%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #backpop h3, #backheb h3 {
        font-size: x-large;
    }
    #pop{
        grid-template-rows: repeat(3, 170px);
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    #pop a {
        margin: 3% 0 0 0;
        font-size: large;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #pop a p, #pop #deux-lignes p {
        margin-bottom: 30px;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #pop .card {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #pop .card img {
        grid-column: 1/2;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #pop .card .content {
        grid-column: 2/3;
        font-size: medium;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    #pop .card .content h4 + p{
        font-size: smaller;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    #backheb {
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: white;
        margin-bottom: 10%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #heb, #act {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 226px);
        font-size: smaller;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #heb a {
        margin: 1% 3% 3% 3%;
    }

    #heb img{
        height: 55%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #heb a:first-of-type, #act a:first-of-type {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #heb a:nth-child(2), #act a:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #heb a:nth-child(3), #act a:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #heb a:nth-child(4), #act a:nth-child(4) {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #heb a:nth-child(5), #act a:nth-child(5) {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #heb a:last-of-type, #act a:last-of-type {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    #more{
        margin-left: 2%;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    #activite {
        margin-left: 4%;
        font-size: x-large;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #act a:first-of-type img, #act a:nth-of-type(4) img {
        height: 80%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    #act h4 {
        margin-top: 2%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    footer {
        flex-direction: column;
        font-size: large;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    footer section {
        margin-bottom: 10%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    footer section h4 {
        margin-bottom: 5%;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    footer section a {
        margin-bottom: 3%;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
}