/*Grands téléphones / position paysage*/
@media screen
and (max-width: 852px) {
    /*Supression de la marge------------------------------------------------------------------------------------------*/
    main {
        margin: 0;
    }
    /*On affiche la navigation en carré ------------------------------------------------------------------------------*/
    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 7%;
    }
    /*Logo en haut à gauche-------------------------------------------------------------------------------------------*/
    nav img {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 10%;
        width: 50%;
    }
    /*On met la bordure des liens en bas------------------------------------------------------------------------------*/
    nav a:not(:last-of-type) {
        border-top: none;
        border-bottom: solid 4px var(--color-light-gray);
    }
    /*"Hébergement" bas gauche----------------------------------------------------------------------------------------*/
    nav a:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    /*"Activités" bas droite------------------------------------------------------------------------------------------*/
    nav a:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    /*"S'inscrire" haut droite----------------------------------------------------------------------------------------*/
    nav a:last-of-type {
        margin-left: 40%;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    /*Ajout d'une marge-----------------------------------------------------------------------------------------------*/
    main header {
        margin: 0 6% 0 6%;
    }
    /*Réduction de la police------------------------------------------------------------------------------------------*/
    main header h3 {
        font-size: larger;
        font-weight: bold;
        width: 88%;
        margin-bottom: 3%;
    }
    /*Réduction de la police------------------------------------------------------------------------------------------*/
    main header p, #pop .card .content h4 + p{
        font-size: smaller;
    }
    /*Réduction de la police------------------------------------------------------------------------------------------*/
    #recherche {
        font-size: large;
        margin-top: 5%;
        width: 95%;
    }
    /*Réduction de la place occupé par les icons----------------------------------------------------------------------*/
    #recherche i {
        flex-grow: unset;
        border-radius: 20px 0 0 20px;
        padding: 6%;
    }
    /*Adaptation case de saisie---------------------------------------------------------------------------------------*/
    #recherche input {
        font-size: large;
        width: inherit;
        flex-grow: 1;
        border-width: 3px;
        padding: 4%;
    }
    /*Suppression du bouton "Rechercher"------------------------------------------------------------------------------*/
    #recherche button:first-of-type {
        display: none;
    }
    /*Ajout du bouton icon de recherche-------------------------------------------------------------------------------*/
    #recherche button:last-of-type {
        display: block;
        flex-grow: unset;
        border-radius: 20px;
    }
    /*Changement de la couleur de l icon------------------------------------------------------------------------------*/
    #recherche button:last-of-type i {
        background-color: var(--color-blue);
        border-radius: 40px;
    }
    /*Affichage du filtre sur 2 colonnes et 3 lignes------------------------------------------------------------------*/
    #filtre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 45px repeat(3, 1fr);
        row-gap: 10px;
        margin-bottom: 5%;
    }
    /*Titre en haut---------------------------------------------------------------------------------------------------*/
    #filtre h4 {
        grid-column: 1/3;
        grid-row: 1/2;
        font-size: large;
    }
    /*Réduction de la taille des filtres------------------------------------------------------------------------------*/
    #filtre label {
        width: fit-content;
        border-radius: 50px;
    }
    /*"Économique" en haut à gauche-----------------------------------------------------------------------------------*/
    #filtre input:first-of-type, #filtre label:first-of-type {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    /*"Familial" en haut à droite-------------------------------------------------------------------------------------*/
    #filtre input:nth-of-type(2), #filtre label:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    /*"Romantique" au milieu------------------------------------------------------------------------------------------*/
    #filtre input:nth-of-type(3), #filtre label:nth-of-type(3) {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    /*"Animaux" en bas------------------------------------------------------------------------------------------------*/
    #filtre input:nth-of-type(4), #filtre label:nth-of-type(4) {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    /*Réduction de la bordure-----------------------------------------------------------------------------------------*/
    .checkbox {
        font-size: 0.9em;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    /*Réduction des icons---------------------------------------------------------------------------------------------*/
    .icon {
        padding: 15px;
        border-radius: 80px;
    }
    /*Adaptation de l icon familial-----------------------------------------------------------------------------------*/
    .fa-child {
        padding: 15px 17px 15px 17px;
    }
    /*Augmente la taille de l icon info-------------------------------------------------------------------------------*/
    #info, #backpop h3, #backheb h3{
        font-size: x-large;
    }
    /*Affichage du texte a coté de l'info-----------------------------------------------------------------------------*/
    #info + p {
        width: 75%;
        display: inline-flex;
    }
    /*On affiche les articles l'un en dessous de l'autre--------------------------------------------------------------*/
    #articles {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        row-gap: 1%;
    }
    /*"Populaires" en haut--------------------------------------------------------------------------------------------*/
    #backpop {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 0;
        border-radius: unset;
    }
    /*Réduction de la marge droite------------------------------------------------------------------------------------*/
    #backpop h3 {
        margin-right: 25%;
    }
    /*Réduction de la hauteur-----------------------------------------------------------------------------------------*/
    #pop{
        grid-template-rows: repeat(3, 170px);
    }
    /*Adaptation des affiches-----------------------------------------------------------------------------------------*/
    #pop a {
        margin: 3% 0 0 0;
        font-size: large;
    }
    /*Adaptation des affiches-----------------------------------------------------------------------------------------*/
    #pop a p, #pop #deux-lignes p {
        margin-bottom: 30px;
    }
    /*Adaptation des affiches-----------------------------------------------------------------------------------------*/
    #pop .card {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }
    /*Adaptation des affiches-----------------------------------------------------------------------------------------*/
    #pop .card img {
        grid-column: 1/2;
    }
    /*Réduction de la taille du texte---------------------------------------------------------------------------------*/
    #pop .card .content {
        grid-column: 2/3;
        font-size: medium;
    }
    /*Les hébergements en dessous-------------------------------------------------------------------------------------*/
    #backheb {
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: var(--color-white);
        margin-bottom: 10%;
    }
    /*Affichage en ligne des hébergements et activités----------------------------------------------------------------*/
    #heb, #act {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 226px);
        font-size: smaller;
    }
    /*Adaptation des affiches-----------------------------------------------------------------------------------------*/
    #heb a {
        margin: 1% 3% 3% 3%;
    }
    /*Réduction de la taille des images-------------------------------------------------------------------------------*/
    #heb img{
        height: 55%;
    }
    /*Positionnement des affiches-------------------------------------------------------------------------------------*/
    #heb a:first-of-type, #act a:first-of-type {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    /*Positionnement des affiches-------------------------------------------------------------------------------------*/
    #heb a:nth-child(2), #act a:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    /*Positionnement des affiches-------------------------------------------------------------------------------------*/
    #heb a:nth-child(3), #act a:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    /*Positionnement des affiches-------------------------------------------------------------------------------------*/
    #heb a:nth-child(4), #act a:nth-child(4) {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    /*Positionnement des affiches-------------------------------------------------------------------------------------*/
    #heb a:nth-child(5), #act a:nth-child(5) {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    /*Positionnement des affiches-------------------------------------------------------------------------------------*/
    #heb a:last-of-type, #act a:last-of-type {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    /*Augmente la marge-----------------------------------------------------------------------------------------------*/
    #more{
        margin-left: 2%;
    }
    /*Augmente la taille----------------------------------------------------------------------------------------------*/
    #activite {
        margin-left: 4%;
        font-size: x-large;
    }
    /*Réduction de la taille des images-------------------------------------------------------------------------------*/
    #act a:first-of-type img, #act a:nth-of-type(4) img {
        height: 80%;
    }
    /*Augmente la marge-----------------------------------------------------------------------------------------------*/
    #act h4 {
        margin-top: 2%;
    }
    /*Affichage en colonne--------------------------------------------------------------------------------------------*/
    footer {
        flex-direction: column;
        font-size: large;
    }
    /*On augmente la marge--------------------------------------------------------------------------------------------*/
    footer section {
        margin-bottom: 10%;
    }
    /*On augmente la marge--------------------------------------------------------------------------------------------*/
    footer section h4 {
        margin-bottom: 5%;
    }
    /*On augmente la marge--------------------------------------------------------------------------------------------*/
    footer section a {
        margin-bottom: 3%;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
}
/*Petits téléphones*/
@media screen
and (max-width: 360px) {
    /*On réduit la taille des filtres---------------------------------------------------------------------------------*/
    .checkbox{
        padding: 10px 10px 10px 0;
    }
    /*On réduit la taille des icons-----------------------------------------------------------------------------------*/
    .icon{
        padding: 12px;
    }
    /*On réduit la taille des icons-----------------------------------------------------------------------------------*/
    .fa-child{
        padding: 12px 14px 12px 14px;
    }
    /*Réduction de marge----------------------------------------------------------------------------------------------*/
    #backpop h3{
        margin-right: 20%;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
}