:root{
    --color-grey: #F2F2F2;
    --color-blue: #0065FC;
    --color-light-blue:  #DEEBFF;
}

body{
    margin: 0;
    font-family: 'Raleway', serif;
}

p, h4{
    margin: 5px;
}

h3{
    margin: 5% 0 5px 2%;
}

main{
    margin: 0 2% 0 2%;
}

#header{
    margin: 0 0 2% 1%;
}

nav{
    display: flex;
}

#header img{
    padding: 20px 10px 10px 10px;
}

nav a{
    flex-grow: 1;
    padding: 35px 10px 10px 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    border-top: solid 2px white;
}

nav a:active, nav a:hover{
    border-color: var(--color-blue);
    color: var(--color-blue);;
}

header p, header h3{
    margin: 10px 0 0 1%;
}

#recherche{
    margin: 1% 2% 2% 1%;
    padding: 10px 10px 10px 0;
    display: flex;
    width: 30%;
    border: none;
    border-radius: 15px;
    font-size: 1em;
}

#recherche i{
    flex-grow: 1;
    text-align: center;
    font-size: 1.2em;
}

#recherche i{
    padding: 15px 20px 15px 20px;
    background-color: var(--color-grey);
    border-radius: 10px 0 0 10px;
}

#recherche input{
    flex-grow: 2;
    font-weight: bold;
    padding-left: 15px;
    font-size: 1.1em;
    border-right: none;
    border-left: none;
    border-top: solid 1px var(--color-grey);
    border-bottom: solid 1px var(--color-grey);
}

#recherche button{
    flex-grow: 1;
    text-align: center;
    padding: 0 20px 0 20px;
    color: white;
    border: none;
    background-color: var(--color-blue);
    border-radius: 0 10px 10px 0;
}

#recherche button:hover{
    cursor: pointer;
}

#recherche button:focus, #recherche input:focus{
    outline: none;
}

#filtre{
    display: flex;
    margin: 1% 2% 2% 1%;
    border: none;
    font-size: 1em;
    width: unset;
    padding: 0;
}
#filtre h4{
    font-size: 1.2em;
    padding: 10px 2% 0 0;
}

.checkbox{
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 8% 10px 0;
    margin-right: 2%;
    border: solid 3px var(--color-grey);
    border-radius: 50px 25px 25px 50px;
}

.checkbox:hover{
    cursor: pointer;
    border-color: var(--color-light-blue);
    background-color: var(--color-light-blue);
    color: var(--color-blue);
}

.checkbox:hover .icon{
    border-color: var(--color-grey);
    background-color: var(--color-grey);
}

.icon{
    display: inline;
    position: relative;
    left: -3px;
    background-color: var(--color-light-blue);
    color: var(--color-blue);
    padding: 15px;
    border-radius: 30px;
}

.fa-child{
    padding: 15px 17px 15px 17px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked + .checkbox{
    border-color: var(--color-light-blue);
    background-color: var(--color-light-blue);
    color: var(--color-blue);
}

input[type="checkbox"]:checked + .checkbox .icon{
    border-color: var(--color-grey);
    background-color: var(--color-grey);
}

input[type="checkbox"]:checked + .checkbox:hover{
    cursor: pointer;
    border-color: var(--color-grey);
    background-color: white;
    color: black;
}

input[type="checkbox"]:checked + .checkbox .icon{
    border-color: var(--color-grey);
    background-color: var(--color-grey);
}

input[type="checkbox"]:checked + .checkbox:hover .icon{
    border-color: var(--color-light-blue);
    background-color: var(--color-light-blue);
}

#info{
    display: inline;
    margin: 1% 5px 2% 1%;
    font-size: 1em;
    color: white;
    background-color: var(--color-blue);
    border-radius: 200px;
    border: solid 0.2px var(--color-grey);
}

p{
    display: inline;
}

#header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

#header img{
    grid-column: 1 / 3;
}

#header nav{
    grid-column: 3 / 4;
}

#articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 700px;
    margin-top: 2%;
}
#articles h3{
    margin-top: 0;
}

#backheb{
    grid-column: 1 / 3;
    background-color: var(--color-grey);
    border-radius: 15px;
    padding: 2% 2% 2% 2%;
}

#more{
    margin: 2% 0 0 1%;
}

#more:hover{
    cursor: pointer;
    text-decoration: underline;
}

#backpop{
    grid-column: 3 / 4;
    background-color: var(--color-grey);
    margin-left: 5%;
    border-radius: 15px;
    padding: 5%;
}

#heb{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 290px);
}

#heb a{
    margin: 5%;
    padding: 1%;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px -2px gray;
    background-color: white;
}

#heb a:hover h4, #heb a:hover p{
    cursor: pointer;
    text-decoration: underline;
}

#heb a:first-of-type{
    grid-column: 1/2;
    grid-row: 1/2;
}
#heb a:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}
#heb a:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/2;
}
#heb a:nth-child(4){
    grid-column: 1/2;
    grid-row: 2/3;
}
#heb a:nth-child(5){
    grid-column: 2/3;
    grid-row: 2/3;
}
#heb a:last-of-type{
    grid-column: 3/4;
    grid-row: 2/3;
}

#pop{
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: repeat(3, 210px);
}

.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.card img{
    grid-column: 1/2;
}

.card .content{
    grid-column: 2/3;
}

#pop a{
    margin: 3% 5% 10% 5%;
    padding: 1%;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 8px -2px gray;
    background-color: white;
}

#pop a p{
    margin-bottom: 60px;
}

#pop a:hover h4, #pop a:hover p{
    cursor: pointer;
    text-decoration: underline;
}

#pop a:first-of-type{
    grid-row: 1/2;
}
#pop a:nth-child(2){
    grid-row: 2/3;
}
#pop a:last-of-type{
    grid-row: 3/4;
}

#act{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 100px 250px;
}

#act a{
    box-shadow: 0 4px 8px -2px gray;
    margin: 5%;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

#act a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#act a:first-of-type{
    grid-column: 1/2;
    grid-row: 1/4;
}
#act a:first-of-type img{
    height: 90%;
}

#act a:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/3;
}
#act a:nth-child(3){
    grid-column: 2/3;
    grid-row: 3/4;
}
#act a:nth-child(4){
    grid-column: 3/4;
    grid-row: 1/4;
}

#act a:nth-child(4) img{
    height: 90%;
}

#act a:nth-child(5){
    grid-column: 4/5;
    grid-row: 1/2;
}
#act a:last-of-type{
    grid-column: 4/5;
    grid-row: 2/4;
}

#act h4{
    margin-left: 5%;
}

#heb img{
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 65%;
}

#pop img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

#act img{
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 80%;
}

.etoiles{
    margin-left: 5px;
}

.blue{
    color: var(--color-blue);
}

.grey{
    color: var(--color-grey);
}

footer{
    display: flex;
    background-color: var(--color-grey);
    margin-top: 2%;
    padding: 2%;
}
footer section{
    flex-grow: 1;
}
footer section a{
    display: block;
    margin: 5px;
    color: black;
    text-decoration: none;
}

footer section a:hover{
    text-decoration: underline;
}


@media all and (min-width: 375px){
    main{
        margin: 0;
    }
    header{

    }
}