/*Variables-----------------------------------------------------------------------------------------------------------*/
:root {
    --color-light-gray: #F2F2F2;
    --color-blue: #0065FC;
    --color-light-blue: #DEEBFF;
    --color-black: black;
    --color-white: white;
    --color-gray: gray;
}
/*Applique la police--------------------------------------------------------------------------------------------------*/
body {
    margin: 0;
    font-family: 'Raleway', serif;
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
p, h2 {
    margin: 5px;
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
h1 {
    font-size: larger;
    margin: 5% 0 5px 2%;
}
h2{
    font-size: large;
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
main {
    margin: 0 2% 0 2%;
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
#header {
    margin: 0 0 2% 1%;
}
/*On affiche la navigation--------------------------------------------------------------------------------------------*/
nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
/*Affichage du logo---------------------------------------------------------------------------------------------------*/
nav img{
    grid-column: 1/6;
    margin-left: 1%;
    padding: 20px 10px 10px 10px;
}
/*Style des liens cliquables------------------------------------------------------------------------------------------*/
nav a {
    padding: 35px 10px 10px 10px;
    text-align: center;
    color: var(--color-black);
    text-decoration: none;
    border-top: solid 2px transparent;
}
/*"S'inscrire et étoile en bleu"------------------------------------------------------------------------------------------------*/
nav a:last-of-type, .blue{
    color: var(--color-blue);
    font-weight: bold;
}
/*On affhiche la bordure en bleu au survol----------------------------------------------------------------------------*/
nav a:active:not(:last-of-type), nav a:hover:not(:last-of-type) {
    border-color: var(--color-blue);
    color: var(--color-blue);
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
header p, header h1 {
    margin: 10px 0 0 1%;
}
/*On affiche la recherche d'un seul block-----------------------------------------------------------------------------*/
#recherche {
    margin: 1% 2% 2% 1%;
    padding: 10px 10px 10px 0;
    display: flex;
    width: 30%;
    border: none;
    border-radius: 15px;
    font-size: 1em;
}
/*Adapte la taille de l icon------------------------------------------------------------------------------------------*/
#recherche i {
    flex-grow: 1;
    text-align: center;
    font-size: 1.2em;
    padding: 15px 20px 15px 20px;
    background-color: var(--color-light-gray);
    border-radius: 10px 0 0 10px;
}
/*Affichage de la zone de saisie--------------------------------------------------------------------------------------*/
#recherche input {
    flex-grow: 2;
    font-weight: bold;
    padding-left: 15px;
    font-size: 1.1em;
    border-right: none;
    border-left: none;
    border-top: solid 1px var(--color-light-gray);
    border-bottom: solid 1px var(--color-light-gray);
}
/*Affichage du bouton "Rechercher"------------------------------------------------------------------------------------*/
#recherche button {
    flex-grow: 1;
    font-size: inherit;
    padding: 0 10px 0 10px;
    color: var(--color-white);
    border: none;
    background-color: var(--color-blue);
    border-radius: 0 10px 10px 0;
}
/*On rend invisible le bouton avec l icon et le carré des checkbox----------------------------------------------------*/
#recherche button:last-of-type, input[type="checkbox"]{
    display: none;
}
/*Survol de la recherche----------------------------------------------------------------------------------------------*/
#recherche button:hover {
    cursor: pointer;
}
/*On désactive l'outline----------------------------------------------------------------------------------------------*/
#recherche button:focus, #recherche input:focus {
    outline: none;
}
/*On affiche les filtres en ligne-------------------------------------------------------------------------------------*/
#filtre {
    display: flex;
    margin: 1% 2% 2% 1%;
    border: none;
    font-size: 1em;
    width: unset;
    padding: 0;
}
/*Style du titre "Filtres"--------------------------------------------------------------------------------------------*/
#filtre h2 {
    font-size: 1.2em;
    padding: 10px 2% 0 0;
}
/*Style des checkbox--------------------------------------------------------------------------------------------------*/
.checkbox {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 8% 10px 0;
    margin-right: 2%;
    border: solid 2px var(--color-light-gray);
    border-radius: 50px;
}
/*Survol d'une checkbox-----------------------------------------------------------------------------------------------*/
.checkbox:hover, input[type="checkbox"]:checked + .checkbox  {
    cursor: pointer;
    border-color: var(--color-light-blue);
    background-color: var(--color-light-blue);
    color: var(--color-blue);
}
/*Change la couleur de l icon au survol-------------------------------------------------------------------------------*/
.checkbox:hover .icon /*, input[type="checkbox"]:checked + .checkbox .icon*/ {
    border-color: var(--color-light-gray);
    background-color: var(--color-light-gray);
}
/*Style de l icon-----------------------------------------------------------------------------------------------------*/
.icon {
    display: inline;
    position: relative;
    left: -3px;
    background-color: var(--color-light-blue);
    color: var(--color-blue);
    padding: 14px;
    border-radius: 30px;
}
/*Style de l icon familial--------------------------------------------------------------------------------------------*/
.fa-child {
    padding: 14px 18px 14px 18px;
}
/*Style de l icon economique--------------------------------------------------------------------------------------------*/
.fa-money-bill-wave {
    padding: 14px 13px 14px 13px;
}
/*Style au survol d'une checkbox sélectionné------------ -------------------------------------------------------------*/
input[type="checkbox"]:checked + .checkbox:hover {
    cursor: pointer;
    border-color: var(--color-light-gray);
    background-color: var(--color-white);
    color: var(--color-black);
}
/*Style de l icon au survol d'une checkbox sélectionné----------------------------------------------------------------*/
input[type="checkbox"]:checked + .checkbox:hover .icon {
    border-color: var(--color-light-blue);
    background-color: var(--color-light-blue);
}
/*Style de l'info-----------------------------------------------------------------------------------------------------*/
#info {
    display: inline;
    margin: 1% 5px 2% 1%;
    font-size: 1em;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 200px;
    border: solid 1px var(--color-light-gray);
}
/*Style du texte de l'info--------------------------------------------------------------------------------------------*/
#info + p {
    display: inline;
}
/*On affiche les articles côte a côte---------- ----------------------------------------------------------------------*/
#articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 700px;
    margin-top: 2%;
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
#articles h1 {
    margin-top: 0;
}
/*Hébergement à gauche------------------------------------------------------------------------------------------------*/
#backheb {
    grid-column: 1 / 3;
    background-color: var(--color-light-gray);
    border-radius: 15px;
    padding: 4% 2% 2% 2%;
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
#more {
    margin: 2% 0 0 1%;
}
/*Au survol des affiches----------------------------------------------------------------------------------------------*/
#more:hover, #act a:hover, #heb a:hover h2, #heb a:hover p, #pop a:hover h2, #pop a:hover p {
    transform: scale(1.02);
    cursor: pointer;
    text-decoration: underline;
}
/*Populaire à droite--------------------------------------------------------------------------------------------------*/
#backpop {
    grid-column: 3 / 4;
    background-color: var(--color-light-gray);
    margin-left: 5%;
    border-radius: 15px;
    padding: 8.5% 5% 5% 5%;
}
/*Les affiches d'hébergement sur 3 colonnes et 2 lignes---------------------------------------------------------------*/
#heb {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 290px);
}
/*Style des affiches--------------------------------------------------------------------------------------------------*/
#heb a {
    margin: 5%;
    padding: 1%;
    color: var(--color-black);
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px -2px var(--color-gray);
    background-color: var(--color-white);
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
#heb a p {
    margin-bottom: -10px;
}
/*Positionnement------------------------------------------------------------------------------------------------------*/
#heb a:first-of-type {
    grid-column: 1/2;
    grid-row: 1/2;
}
/*Positionnement------------------------------------------------------------------------------------------------------*/
#heb a:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}
/*Positionnement------------------------------------------------------------------------------------------------------*/
#heb a:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
}
/*Positionnement------------------------------------------------------------------------------------------------------*/
#heb a:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
}
/*Positionnement------------------------------------------------------------------------------------------------------*/
#heb a:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/3;
}
/*Positionnement------------------------------------------------------------------------------------------------------*/
#heb a:last-of-type {
    grid-column: 3/4;
    grid-row: 2/3;
}
/*Populaire à droite & sur 3 lignes-----------------------------------------------------------------------------------*/
#pop {
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: repeat(3, 210px);
}
/*Style du titre------------------------------------------------------------------------------------------------------*/
#backpop h1 {
    display: inline-block;
    margin-right: 45%;
}
/*On divise les affiches en deux--------------------------------------------------------------------------------------*/
.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}
/*L'image à gauche----------------------------------------------------------------------------------------------------*/
.card img {
    grid-column: 1/2;
}
/*Le contenu à droite-------------------------------------------------------------------------------------------------*/
.card .content {
    grid-column: 2/4;
}
/*Style des affiches--------------------------------------------------------------------------------------------------*/
#pop a {
    margin: 3% 5% 10% 5%;
    padding: 1%;
    border-radius: 15px;
    color: var(--color-black);
    text-decoration: none;
    box-shadow: 0 4px 8px -2px var(--color-gray);
    background-color: var(--color-white);
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
#pop a p {
    margin-bottom: 35px;
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
#pop #deux-lignes p {
    margin-bottom: 30px;
}
/*Positionnement------------------------------------------------------------------------------------------------------*/
#pop a:first-of-type {
    grid-row: 1/2;
}
/*Positionnement------------------------------------------------------------------------------------------------------*/
#pop a:nth-child(2) {
    grid-row: 2/3;
}
/*Positionnement------------------------------------------------------------------------------------------------------*/
#pop a:last-of-type {
    grid-row: 3/4;
}
/*On affiche les activités sur 4 colonnes-----------------------------------------------------------------------------*/
#act {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 100px 250px;
}
/*Style des affiches--------------------------------------------------------------------------------------------------*/
#act a {
    box-shadow: 0 4px 8px -2px var(--color-gray);
    margin: 5%;
    border-radius: 15px;
    text-decoration: none;
    color: var(--color-black);
}
/*Image gauche : Prend toute la taille--------------------------------------------------------------------------------*/
#act a:first-of-type {
    grid-column: 1/2;
    grid-row: 1/4;
}
/*Centre gauche-haut : prend un peu plus de place (Affichage en brique)-----------------------------------------------*/
#act a:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
}
/*Centre gauche-bas : prend moins de place----------------------------------------------------------------------------*/
#act a:nth-child(3) {
    grid-column: 2/3;
    grid-row: 3/4;
}
/*Centre droit : prend toute la place---------------------------------------------------------------------------------*/
#act a:nth-child(4) {
    grid-column: 3/4;
    grid-row: 1/4;
}
/*Droite-haut : prend moins de place (Affichage en brique)------------------------------------------------------------*/
#act a:nth-child(5) {
    grid-column: 4/5;
    grid-row: 1/2;
}
/*Droite-bas : prend un peu plus de place-----------------------------------------------------------------------------*/
#act a:last-of-type {
    grid-column: 4/5;
    grid-row: 2/4;
}
/*Taille des grandes images ------------------------------------------------------------------------------------------*/
#act a:first-of-type img, #act a:nth-child(4) img  {
    height: 90%;
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
#act h2 {
    margin-left: 5%;
    margin-top: 5%;
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
#act a:nth-child(3) h2, #act a:nth-child(5) h2 {
    margin-top: 2%;
}
/*Les images des affiches d'hébergement-------------------------------------------------------------------------------*/
#heb img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 65%;
}
/*Les images des affiches populaires----------------------------------------------------------------------------------*/
#pop img {
    object-fit: cover;
    max-height: fit-content;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
/*Les images des affiches d'activités---------------------------------------------------------------------------------*/
#act img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 80%;
}
/*Application d'une marge---------------------------------------------------------------------------------------------*/
.etoiles {
    margin-left: 5px;
}
/*Etoile grise--------------------------------------------------------------------------------------------------------*/
.grey {
    color: var(--color-light-gray);
}
/*Affichage du pieds en ligne-----------------------------------------------------------------------------------------*/
footer {
    display: flex;
    background-color: var(--color-light-gray);
    margin-top: 2%;
    padding: 2%;
}
/*Positionnement------------------------------------------------------------------------------------------------------*/
footer section {
    flex-grow: 1;
}
/*Affichage des sections en block-------------------------------------------------------------------------------------*/
footer section a {
    display: block;
    margin: 10px 5px 10px 5px;
    color: var(--color-black);
    text-decoration: none;
}
/*Au survol des onglets-----------------------------------------------------------------------------------------------*/
footer section a:hover {
    text-decoration: underline;
}
/*--------------------------------------------------------------------------------------------------------------------*/